#search-form {
    margin-top: 40px !important;
}

#search-film {
    margin-left: 15px;
    margin-right: 15px;
}

#not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
}

#btn-delete-movie, #btn-back, #btn-add {
    margin-top: 25px;
}

#wrapper {
    margin-top: 20px;
}